/* Classes utilistaires */
[class*="clear"]{
  clear: both;
}

.clear2{height:2px;}
.clear5{height:5px;}
.clear10{height:10px;}
.clear15{height:15px;}
.clear20{height:20px;}
.clear25{height:25px;}
.clear30{height:30px;}
.clear50{height:50px;}
.clear100{height:100px;}
.clear150{height:150px;}
.clear200{height:200px;}

.bold{
  font-weight: bold;
}

.left{
  float: left;
}

.right{
  float: right;
}

/* Classes générales */
body,
html {
  padding: 0;
  margin: 0;
}

body{
  overflow-x: hidden;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}

hr.light {
  border-color: #fff;
}

a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #F05F40 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 1);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

/* Le header */

#mainNav {
  background: linear-gradient(#FAFAFA, #D8D8D8);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #F05F40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f05f40;
}


.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../images/header.jpg");
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.masthead h1 {
  font-size: 2rem;
}

.masthead p {
  font-weight: 300;
}

#instagramLogo img{
  width: 40px;
  height: 40px;
}

#navbarResponsive a{
  color: black;
}

/* Section rechercher une ville pour voir la météo*/
#chercherMeteoContainer{
  text-align: center;
  width: 100%;
}

#meteo{
  font-weight: bold;
}

.mainInput{
  max-width: 500px;
  margin: 0 auto;
}

#chercherMeteoAffichage{
    height: 180px;
}

#chercherMeteoAffichage p{
    text-align: center;
    margin: 0!important;
    float: left;
}

/* Loading circulaire */

@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#spinner {
  margin: 0 auto;
  position: absolute;
  top: 875px;
  left: 503px;
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 150px;
  width: 150px;
  border: 8px solid #f80;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

/* Section rechercher une personne */

#chercherPersonneContainer{
  text-align: center;
  background: linear-gradient(#E6E6E6, #ffffff);
}

#afficherInfosPersonne img{
  width:150px;
  border-radius: 50%;
  border: 2px solid #F05F40;
}

#nomPersonne{
  font-weight: bold;
}

#descriptionPersonne{
  color: #BDBDBD;
}

/* Barre de progression */
@import "compass/css3";

.progress {
  width: 100%;
  height: 50px;
}

.progress-wrap {
  background: #f80;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  background: #ddd;
  left: 0;
  position: absolute;
  top: 0;
}

/* Les photos */

#lesPhotos{
  margin-left: 5%;
}

#containerPhoto{
  width:100%;
  height: 90%;
  overflow: hidden;
}

#containerPhoto img:hover{
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.3); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.3); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.3);
    transition: all 200ms ease-in;
    transform: scale(1.3);
}

#containerPhoto img{
  width: 100%;
  height: 100%;
}

#containerActionPhoto{
  overflow: auto;
  color: #01A9DB;
  border: 1px solid grey;
}

#containerActionPhoto a:hover{
  text-decoration: none;
}

.box {
     -webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
     -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
     -ms-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
     -o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
     transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);

     -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
     -ms-transition-property: left, right, top;
     -o-transition-property: left, right, top;
     transition-property: left, right, top;
}

/* Footer */
/*--footer--*/

#footer {
    background: #000;
    padding: 3em 0;
    position: relative;
}

#footer img{
    width: 35px;
    height: 40px;
    margin-left: 7px;
    margin-top: 1.5px;
}

#footer p {
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 100;
}

#footer p a {
    color: #00bce4;
}

#footer p a:hover {
    text-decoration: underline;
}


/*-- Fleche vers le haut--*/

.arrow-container,
.arrow-1 {
    width: 90px;
    height: 90px;
}

.arrow-container {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
}

.arrow-1 {
    background: #00bce4;
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
}

.arrow-2 {
    width: 50px;
    height: 50px;
    background: #00bce4;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    display: table;
}

.arrow-2:focus {
    text-decoration: none;
}

.arrow-2:before {
    width: 42px;
    height: 42px;
    content: "";
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
}

/* Animation de la fleche */

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.4, .4, .4);
        transform: scale3d(.4, .4, .4);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.4, .4, .4);
        transform: scale3d(.4, .4, .4);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* Media queries pour la responsivité */
@media (min-width: 768px) {
  .masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .masthead h1 {
    font-size: 4rem;
  }
}
